.myflag-image-icon{
	 //background-image: url("../img/icon.png");
	 //background-size:42px 42px;
	 width:36px;
	 height:36px;
}

.myflag-container{
	
}

.myflag-stuff{
}

.editor-GlobalBar{
	background-color:#FF66CC;
}